body {
  background-color: #001d3d;
}
#header_hero {
  height: 25vh;
  width: 100%;
  position: relative;
}
video {
  height: 25vh;
  width: 100vw;
  object-fit: cover;
}

#title_hero {
  position: absolute;
  color: #ffc300;
  font-weight: bolder;
  font-size: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="text"],
input[type="text"]:focus {
  width: 300px;
  padding: 12px;
  border: 2px solid #ffd60a;
  background-color: transparent;
  border-radius: 15px;
  color: white;
  font-weight: 700;
  outline: none;
}

.icon {
  padding-left: 45px !important;
  background: url("https://static.thenounproject.com/png/101791-200.png")
    no-repeat left;
  background-size: 35px;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}
.movie-card {
  height: 475px;
  width: 300px;
  background-color: #003566;
  margin-bottom: 10px;
  border-radius: 15px;
  position: relative;
  padding: 4px;
}
.container-special {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.movie-poster {
  width: 100%;
  height: 280px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.movie-card::before,
.movie-card::after {
  content: "";
  position: absolute;
  border-radius: 15px;
  inset: -0.2rem;
  z-index: -1;
  background: linear-gradient(var(--angle), #032146, #c3f2ff, #b00);
  animation: rotate 10s linear infinite;
}
.movie-card::after {
  filter: blur(10px);
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes rotate {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

.good {
  border: 4px solid greenyellow;
  border-radius: 50%;
}

p {
  color: #000814;
  font-weight: 900;
}
